$text-color: #2f5544;

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Nav */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* Header */

.header-home {
  color: $text-color;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.75rem;
}

/* Book Item */

.book-item-img {
  width: 100%;
  border-radius: 15px;
}

.book-item-title {
  color: $text-color;
  text-align: center;
}

.book-item-author {
  color: $text-color;
  text-align: center;
  opacity: 0.5;
}

/* Book Detail */

.book-detail {
  margin: 5.5rem 0 9rem;
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.book-detail-img {
  width: 100%;
  border-radius: 15px;
}

.book-detail-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-detail-title {
  font-size: 2rem;
}

.book-detail-author {
  font-size: 1.25rem;
  opacity: 0.5;
  margin-bottom: 4rem;
}

.book-detail-body {
  font-size: 1rem;
}

.book-detail-btns {
  margin-top: 5rem;
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.delete-btn.ant-btn-round.ant-btn-lg {
  &:hover {
    color: #7b4b40;
    border-color: #9a5e51;
  }
}

.update-btn.ant-btn-round.ant-btn-lg {
  color: $text-color;
  border-color: #3d6f59;
  &:hover {
    color: #538b73;
    border-color: #6daf92;
  }
}

/* Add Book */

.add-book {
  margin: 6rem 0 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #2f554480;
  border-radius: 15px;
  padding: 3rem 15% 6rem;
}

.add-book-title {
  font-size: 2.25rem;
  margin-bottom: 5rem;
}

.add-book-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.add-book-btn {
  width: 13rem;
}

.submit-update-btn {
  width: 8rem;
  margin-left: 1rem;
}


@media (min-width: 576px) {
  .container {
    width: 540px;
    padding-left: 0;
    padding-right: 0;
  }


}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  .book-detail {
    flex-direction: row;
  }

  .book-detail-img {
    width: 40%;
  }

  .book-detail-btns {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  .book-detail-title {
    font-size: 2.25rem;
  }
  
  .book-detail-author {
    font-size: 1.5rem;
  }
  
  .book-detail-body {
    font-size: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}



/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
